.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowColNoGrow {
  flex: 0 1 auto;
  margin-top: auto;
}

.flexRowSpace {
  flex: 1 1 auto;
}

.candidateLabelLeft {
  flex: 1 1 auto;
  text-align: left;
}

.candidateLabelRight {
  flex: 1 1 auto;
  text-align: right;
}

.center {
  margin: 0 auto;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.container {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.stateContainer {
  margin-top: 1rem;
}

.stateMargin {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.stateMapTitle {
  text-align: center;
}

.histogram {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.histogramBar {
  flex: 1 1 auto;
}

.histogramCont {
  text-align: center;
  margin-bottom: 2rem;
}

.histogramAxis {
  display: flex;
}

.histogramAxisEntry {
  flex: 0 1 20px;
}

.histogramAxisExpand {
  flex: 1 1 100px;
}

.margin {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .histogramAxisMobileNone {
    display: none;
  }
}