.map {
  margin: 0 auto;
  padding: 0;
}

.district {
  padding: 0.2rem;
  font-weight: 800;
  text-align: center;
  max-width: 250px;
  margin-bottom: 0.2rem;
}

.districtCont {
  display: flex;
}

.districtCol {
  flex: 0 1 250px;
  margin-right: 0.2rem;
}

.districtColExpand {
  flex: 1 1 auto;
}

.districtCol:last-child {
  margin-right: 0 !important;
}

@media only screen and (max-width: 600px) {
  .district {
    font-weight: normal;
    font-size: 0.8rem;
    padding: 0;
    margin-bottom: 0.1rem;
  }
}