@import './variables.scss';

.footer {
  border-top: 1px solid $header-bg;
  background-color: $footer-bg;
  min-height: 3rem;
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;

  font-family: Montserrat;
  font-size: 13pt;

  display: flex;
}

.footerCenterContent {
  height: 100%;
  flex: 1 1 auto;
}

.footerRightContent {
  flex: 0 1 auto;
  height: 100%;
}

.footerTextRight {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.logo {
  height: 2rem;
  padding: 0 1rem 0 1rem;
}